@mixin flex1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

@mixin padding-mobile{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@mixin margin-mobile{
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}


@mixin h3-footer{
    font-size: 1rem;
    color: $color-font-secc;
    margin-bottom: 0;
}

@mixin p-secc-footer{
    margin-bottom: 0;
    color: $color-font-secc;
    font-size: 0.9rem;
}

@mixin img($width, $height){
    width: $width;
    height: $height;
}

