/*estilos del main de la Seccion Menu - version mobile*/

//imports
@import "../utilidades/extend";
@import "../utilidades/mixin";

main{
    .cont-menu{
        @include flex2;
        gap: 2rem;
        margin-top: 1.1rem;
        margin-bottom: 1.1rem;

        .cont-h2-menu{
            @extend %flex3;
            @include padding-mobile;
            .h2-secc{
                @extend %h2-secc;
            }
        }
        .entradas-menu{
            @extend %flex3;
            .h2-secc{
                @extend %h2-secc;
            }
            .lista-menu{
                list-style: none;
                @extend %flex2;
                gap: 1rem;
                margin-bottom: 0;
                padding-left: 0;

                .item-lista-menu{
                    @extend %flex2;
                    .nombre-plato{
                        @extend %nombre-plato;
                    }
                    .descrip-plato{
                        @extend %descrip-plato;
                    }
                }
            }
        }
        .principales-menu{
            @extend %flex3;
            .h2-secc{
                @extend %h2-secc;
            }
            .lista-menu{
                list-style: none;
                @extend %flex2;
                gap: 1rem;
                margin-bottom: 0;
                padding-left: 0;

                .item-lista-menu{
                    @extend %flex2;
                    .nombre-plato{
                        @extend %nombre-plato;
                    }
                    .descrip-plato{
                        @extend %descrip-plato;
                    }
                }
            }
        }
        .guarniciones-menu{
            @extend %flex3;
            .h2-secc{
                @extend %h2-secc;
            }
            .lista-menu{
                list-style: none;
                @extend %flex2;
                gap: 1rem;
                margin-bottom: 0;
                padding-left: 0;

                .item-lista-menu{
                    @extend %flex2;
                    .nombre-plato{
                        @extend %nombre-plato;
                    }
                    .descrip-plato{
                        @extend %descrip-plato;
                    }
                }
            }
        }
        .postres-menu{
            @extend %flex3;
            .h2-secc{
                @extend %h2-secc;
            }
            .lista-menu{
                list-style: none;
                @extend %flex2;
                gap: 1rem;
                margin-bottom: 0;
                padding-left: 0;

                .item-lista-menu{
                    @extend %flex2;
                    .nombre-plato{
                        @extend %nombre-plato;
                    }
                    .descrip-plato{
                        @extend %descrip-plato;
                    }
                }
            }
        }
    }

    .galeria-menu{
        @include flex2;
        gap: 1rem;
        @include margin-mobile;
        margin-bottom: 1rem;
        .img-menu{
            @include img(100%, 100%);
        }

    }
}


